@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
  font-family: "Edu AU VIC WA NT Pre", cursive;
  padding: 0px;
  margin: 0px;
}